In [17]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split

sns.set_style("darkgrid")

In [23]:
df = pd.read_csv("Foreign_Exchange_Rates.csv")

df = df.drop(columns=["Unnamed: 0", "NEW ZEALAND - NEW ZELAND DOLLAR/US$", "BRAZIL - REAL/US$", "HONG KONG - HONG KONG DOLLAR/US$", "KOREA - WON/US$", "SOUTH AFRICA - RAND/US$","SINGAPORE - SINGAPORE DOLLAR/US$","DENMARK - DANISH KRONE/US$","MALAYSIA - RINGGIT/US$","NORWAY - NORWEGIAN KRONE/US$","SWEDEN - KRONA/US$","SRI LANKA - SRI LANKAN RUPEE/US$","TAIWAN - NEW TAIWAN DOLLAR/US$","THAILAND - BAHT/US$"])
newColumnsNames = list(map(lambda c: c.split(" - ")[0] if "-" in c else "DATE", df.columns))
newColumnsNames
df.columns = newColumnsNames
df.head()

,DATE,AUSTRALIA,EURO AREA,UNITED KINGDOM,CANADA,CHINA,INDIA,MEXICO,JAPAN,SWITZERLAND
0,2000-01-03,1.5172,0.9847,0.6146,1.4465,8.2798,43.55,9.4015,101.7,1.5808
1,2000-01-04,1.5239,0.97,0.6109,1.4518,8.2799,43.55,9.457,103.09,1.5565
2,2000-01-05,1.5267,0.9676,0.6092,1.4518,8.2798,43.55,9.535,103.77,1.5526
3,2000-01-06,1.5291,0.9686,0.607,1.4571,8.2797,43.55,9.567,105.19,1.554
4,2000-01-07,1.5272,0.9714,0.6104,1.4505,8.2794,43.55,9.52,105.17,1.5623

In [19]:
df.keys()

Index(['Unnamed: 0', 'Time Serie', 'AUSTRALIA - AUSTRALIAN DOLLAR/US$',
       'EURO AREA - EURO/US$', 'NEW ZEALAND - NEW ZELAND DOLLAR/US$',
       'UNITED KINGDOM - UNITED KINGDOM POUND/US$', 'BRAZIL - REAL/US$',
       'CANADA - CANADIAN DOLLAR/US$', 'CHINA - YUAN/US$',
       'HONG KONG - HONG KONG DOLLAR/US$', 'INDIA - INDIAN RUPEE/US$',
       'KOREA - WON/US$', 'MEXICO - MEXICAN PESO/US$',
       'SOUTH AFRICA - RAND/US$', 'SINGAPORE - SINGAPORE DOLLAR/US$',
       'DENMARK - DANISH KRONE/US$', 'JAPAN - YEN/US$',
       'MALAYSIA - RINGGIT/US$', 'NORWAY - NORWEGIAN KRONE/US$',
       'SWEDEN - KRONA/US$', 'SRI LANKA - SRI LANKAN RUPEE/US$',
       'SWITZERLAND - FRANC/US$', 'TAIWAN - NEW TAIWAN DOLLAR/US$',
       'THAILAND - BAHT/US$'],
      dtype='object')